.subscribe-button{
    background-color: red;
    color:white;
    border-style: none;
    /* height: 30px;
    width: 105px; */
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.15;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: top;
}
.subscribe-button:hover{
    opacity: 0.8;
    /* background-color: green; */
}
.subscribe-button:active{
    opacity: 0.5;
    /* background-color: blue; */
}

.join-button{
    background-color: white;
    color:rgb(41, 118, 211);
    border-color: rgb(50, 176, 235);
    /* height: 30px;
    width: 70px; */
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    border-width: 1px;
    transition: background-color 1s,color 1s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: top;
}
.join-button:hover{
    background-color: rgb(41, 118, 211);
    color: white;
}
.join-button:active{
    opacity: 0.7s;
    background-color: aqua;
}

.tweet-button{
    background-color: rgb(42, 163, 219);
    /* height: 30px;
    width: 80px; */
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    border-style: solid;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    vertical-align: top;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}